body {
    color: #111111;
    background: darkcyan;
}
h1 {
    color: #e2e80f;
    text-align: center;
    font-size: 40px;
}
p {
    color: #eeeeee;
    font-size: 20px;
    line-height: 140%;

}
.credits {
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
}
#film-description {
    font-size: 18px;
    font-style: italic;

}