* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.container {
    display: flex;
}
.backgroundBlank {
    width: 100%;
    height: 40vw;
    background-image: url("yellowPic.png");
}

@media (max-width: 800px) {
    .container {
        height: 50vh;
    }
}

form {
    top: 0px;
    left: 36px;
    font-size: 3vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    height: 30vw;
    width: 50%;
    background-image: url("yellowPic.png");
    margin-left: -10%;
    z-index: 2;
    top: 50px;
    margin-top: 8%;
}
.inputPicture {
    display: flex;
    margin: 50px;
    width: 13vw;
    height: 5vw;

}
.goomba-pic2{
    width: auto;
    height: 10vw;
    margin-top: -35px;
    margin-left: 20px;
}
@media (max-width: 600px){
    .goomba-pic2{
        width: auto;
        height: 10vw;
        margin-top: 5px;
    }
}
.number1New{
    height: 65px;
    width: 9vw;
    /* height: auto; */
    font-size: 40px;
    background-color: transparent;
    color: black;
    border: 4px dotted #049cd8;
}
#goombapic {
    /* position: absolute;
    top: 170px;
    left: 580px; */
    width: 100px;
    height: 100px;
}
#cheeppic {
    /* position: absolute; */
    top: 20;
    left: 880px;
    width: 100px;
    height: 100px;
}
#bobombspic {
    position: absolute;
    top: 350px;
    left: 580px;
    width: 100px;
    height: 100px;
}
#number1 {
    top: 40px;
}
#number2 {
    top: 50px;
}
#number3 {
    top: 60px;
}
#answer {
    margin-left: 5px;
    font-size: 20px;
    font-weight: bold;
    font-family: pixelemulator;
    animation: blinkingText 0.8s infinite;
}
#coins {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 1vw;
    font-size: 30px;
    font-weight: bold;
    font-family: pixelemulator;
    animation: blinkingText 0.8s infinite;
}
@keyframes blinkingText {
    0% { color: #049cd8;  }
    50% { color: transparent; }
    100% { color: #049cd8;  }
}
#one {
    top: 960px;
    left: 16px;
    font-size: 2vw;
    display: inline;
    border-top: 2px solid black;
}
#two {
    top: 930px;
    left: 16px;
    font-size: 1vw;
    display: inline;
}

#three {
    top: 960px;
    left: 16px;
    display: inline;
    font-size: 1vw;
}

#four {
    top: 1000px;
    left: 16px;
    font-size: 1vw;
    page-break-after: always;
}

a [href^="tel:"] {
    color: red;
    font-weight: bold;
    left: 16px;
    font-weight: bold;
    background-color: red;
}

#goombatext {
    margin-left: 110px;
}

#cheeptext {
    margin-left: 110px;
}

#bobombtext {
    margin-left: 110px;
}

#g {
    width: 80px;
    height: 80px;
    top: 300px;
    margin-left: 20px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: inline-block;
    float: left;
}
#c {
    width: 80px;
    height: 80px;
    top: 100px;
    margin-left: 15px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    display: inline-block;
    float: left;
}
#b {
    width: 80px;
    height: 80px;
    top: 300px;
    margin-left: 15px;
    display: inline-block;
    float: left;
}

.background {
    background-image: url('https://yese69.com/wp-content/uploads/data/2017/12/16/full-size-super-mario-backgrounds-1920x1080-high-resolution-WTG200610115-768x432.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 40vw;
    width: 50%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

body {
    background-color: #fbd000;
}
h1 {
    font-family: "squirk";
    font-size: 70px;
    color: #e52521;
    margin-left: 20px;
    margin-top: 0;
    z-index: 3;
    text-align: center;
    display: block;
}
#goombas {
    font-family: "";
    font-size: 30px;
    color: black;
    margin-left: 108px;
    text-decoration: underline;
   

}
#bobombs {
    font-family: "";
    font-size: 30px;
    color: black;
    margin-left: 108px;
    text-decoration: underline;


}
#cheepcheeps {
    font-family: "";
    font-size: 30px;
    color: black;
    margin-left: 108px;
    text-decoration: underline;
}

.arrowContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.empty {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: auto;
    height: 55px;
    background-color: #f00
}
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
    margin-left: 48%;
    
}

@media(max-width:650px){
    h1 {
        font-size: 30px;
    }
    .arrow-down {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #f00;
    }
    #number1 {
        position: absolute;
        margin-left: 400px;
        margin-top: 50px;
        width: 5vw;
        height: auto;
        font-size: 30px;
        background-color: transparent;
        color: black;
        border: 4px dotted #049cd8;
        display: center;
    }
    #number2 {
        display: flex;
        position: absolute;
        margin-left: 400px;
        margin-top: 130px;
        width: 5vw;
        height: auto;
        font-size: 30px;
        background-color: transparent;
        color: black;
        border: 4px dotted #049cd8;
    }
    #number3 {
        display: flex;
        position: absolute;
        margin-left: 400px;
        margin-top: 220px;
        width: 5vw;
        height: auto;
        font-size: 30px;
        background-color: transparent;
        color: black;
        border: 4px dotted #049cd8;
    
    }
    .coinspic {
        position: absolute;
        top: 110px;
        left: 220px;
        width: 65px;
        height: 65px;
    }

    #goombapic {
        position: absolute;
        top: 80px;
        left: 510px;
        width: 70px;
        height: 70px;
    }
    #cheeppic {
        position: absolute;
        top: 170px;
        left: 510px;
        width: 70px;
        height: 70px;
    }
    #bobombspic {
        position: absolute;
        top: 270px;
        left: 510px;
        width: 70px;
        height: 70px;
    }
    #coins {
        font-weight: bold;
        font-family: pixelemulator;
        animation: blinkingText 0.8s infinite;
    }
    #answer {
        font-size: 40px;
        font-weight: bold;
        font-family: pixelemulator;
        animation: blinkingText 0.8s infinite;
    }
}