body {
    background-color: #6d6876;
    
}
h1 {
    text-align: center;
    font-family: "scriptina";
    color: #ffcdbf;
    font-size: 290%;
}
.dropbtn {
    text-decoration: none;
    color: black;
    font-size: 250%;
    display: inline-block;
}

.w3Button {
    text-align: center;
    color: black;
    font-size: 165%;
    font-family: "BeautyMountainsPersonalUse";
    text-decoration: none;
    left: 0px;
}

.w3Button a:hover {
    color: #e5989e;
}
.mySlides {
    width: 50%;
    height: auto;
}
@media (max-width: 860px) {
    .w3Button {
        display: none;
    }
    
}

@media (max-width: 700px) {
    h1 {
        text-align: center;
        font-family: "scriptina";
        color: #ffcdbf;
        font-size: 200%;
    }
}

@media (max-width: 500px) {
    h1 {
        text-align: center;
        font-family: "scriptina";
        color: #ffcdbf;
        font-size: 150%;
    }