body {
    background-color: #6d6876;
    
}
h1 {
    text-align: center;
    font-family: "scriptina";
    color: #ffcdbf;
    font-size: 290%;
}
.navbar {
    overflow: hidden;
    background-color: #ffcdbf;
    font-family: BeautyMountainsPersonalUse;
}
.navbar a {
    float: left;
    font-size: 140%;
    color: #6d6876;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropbtn {
    font-size: 40px;
    border: none;
    outline: none;
    color: #6d6876;
    padding: 10px 12px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;    
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #b5838d;
}
.dropdownContent {
    display: none;
    position: absolute;
    background-color: #b5838d;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
    z-index: 1;
}
.dropdownContent a {
    float: none;
    color: #ffcdbf;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdownContent a:hover {
    background-color:#6d6876;
}
.dropdown:hover .dropdownContent {
    display: block;
}
.myImageContainer {
    display: flex;
    justify-content: center;
}
.mySlides {
    margin-top: 10px;
}
@media (max-width: 911px) {
    .navbar a {
        display: none;
        float: left;
        font-size: 140%;
        color: #6d6876;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
    .dropdownContent a {
        float: none;
        color: #ffcdbf;
        padding: 10px 14px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
}

@media (max-width: 700px) {
    h1 {
        text-align: center;
        font-family: "scriptina";
        color: #ffcdbf;
        font-size: 200%;
    }
}

@media (max-width: 500px) {
    h1 {
        text-align: center;
        font-family: "scriptina";
        color: #ffcdbf;
        font-size: 150%;
    }
}