*{
    margin: 0;
    box-sizing: border-box;
}

.background{
    background-color: rgb(220, 220, 228);
    height: 250vh;
    
    
}
.header {
    background-image: url('./images/header-picture.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-attachment: fixed;
}



.nav-bar {
    overflow: hidden;
    background-color: rgba(170, 93, 93, 0.507);
    position: fixed;
    width: 100%;
    height: 70px;
    
}


.nav-bar p {
    font-size: 25px;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 19px 18px;

}

.nav-bar p:hover {
    background: red;
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 60%;
    margin-left: 90px;

}

img {
    width: 330px;
    height: 320px;
    margin-left: 30px;

}
.picture1 {
    display: flex;

}
.products h3 {
    
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
}
h3 {
    font-family: Chalkduster, fantasy;
    font-size: 40px; 
    margin-left: 130px;
    margin-bottom: 30px;
}

.p-tag {
    font-family: Marker Felt, fantasy;
    font-size: 25px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgba(71, 44, 44, 0.178);
    width: 150px;
    text-align: center;
    
}

.dessert {
    top: 10px;
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    margin-top: 280px;
    padding: 30px;
    background-color: rgba(31, 20, 20, 0.301);
}

.footer h4 {
    font-family: verdana;
}