* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f1e3dd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1,h2 {
    font-family: Arial;
    font-size: 45px;
}

.top-header {
    position: relative;
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-image: url('http://static.wixstatic.com/media/725d4a_7192beea29c142838af8d4409a83c758~mv2.jpg/v1/fill/w_1024,h_575,al_c,q_85,usm_0.66_1.00_0.01/725d4a_7192beea29c142838af8d4409a83c758~mv2.webp');
    color: black;
    background-color: #bccad6;
    height: 150pt;
    padding: 50pt 100pt;
}

header {
    position: relative;
    background-color: #8d9db6;
    width: 100%;
    z-index: 2;
    padding: 25pt;
}


nav ul, footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li, footer ul li {
    position: relative;
    display: inline-block;
    margin: 0 15pt;
    padding: 0;
    height: 30px;
    color: white;

}

nav ul li:after, footer ul li:after {
    border-right:2px solid black;
}

nav ul li:first-of-type {
    margin-left: 0;
}

footer ul li:last-of-type {
    margin-right: 0;
}

nav a, footer a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

.main-content {
    position: relative;
    min-height: 200pt;
}

main {
    position: relative;
    float: center;
}

main .image1 {
    position: relative;
    float: left;
    background-image: url('http://www.site-fusion.co.uk/files/writeable/uploads/basekit-template-images/webfusion83_live83458_header.png')
}

.home {
    display: block;
    margin-block-start: 10.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: auto;
    text-align: center;

}

button {
    color: #bccad6;
    background-color: #667292;
    padding: 15pt 35pt;
    font-size: 15pt;
    border: 2px solid #8d9db6;
    margin-bottom: 50pt;
}

footer {
    display: block;
    background-color: #667292;
    height: 60px;
    width: 100%;
    /* position: absolute; */
    bottom: 0;
}

footer>div {
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.services-title {

}