/* FONTS AND ICONS */
@font-face {
    font-family: verdemoderna;
    src: url(verdemoderna.woff);
}
@font-face {
    font-family: juliussansone;
    src: url(https://fonts.gstatic.com/s/juliussansone/v7/1Pt2g8TAX_SGgBGUi0tGOYEga5WOwnsXy6KHHg.woff2);
}
@font-face {
    font-family:  librebaskerville;
    src: url(https://fonts.gstatic.com/s/librebaskerville/v5/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWxEQDO-Wyrs.woff2)
}
@font-face {
    font-family:  librebaskerville-bold;
    src: url(https://fonts.gstatic.com/s/librebaskerville/v5/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxMaC82U.woff2)
}
/* bottom picture: http://www.csszengarden.com/214/koi.jpg */
/* top picture: http://www.csszengarden.com/214/huntington.jpg */
/* logo: http://www.csszengarden.com/214/enso.svg */

/* MAIN STYLE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {    
    font-family: librebaskerville-bold;
    font-size: 0.85em;
    line-height: 1.7em;
    color: #325050;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 250px auto 40px;
    grid-template-areas:
        'h h h h h h h h h h h h'
        'm m m m m m m m m m m m'
        'f f f f f f f f f f f f';
    /* border-top: 10px solid black; */

}
.container{
    padding-bottom: 0;
}
.container-white1, .container-white2 {
    padding-left: 37px;
    padding-right: 37px;

}

-->/* HEADER */-->
.logo {
    display: absolute;
    margin-top: 5%;
    width: 12%;
    height: 20%;
    opacity: 0.6;
}
header .bottom {
    display: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10%;
    margin-left: 0;
    margin-right: 0;

}
header {
    grid-area: h;
    background-image: url("http://www.csszengarden.com/214/contours.png"),url("http://www.csszengarden.com/214/huntington.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    border-top: 10px solid #2e484c;  
     

}
h1 {
    font-family: "juliussansone";
    color: white;
    font-size: 200%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3%;
    font-weight: lighter;
}

h3 {
    font-family: "librebaskerville";
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 0.6;
    color: white;
    font-weight: lighter;
    font-size: 12.5pt;
    padding: 10pt;

}
.see-through-bar {
    position: absolute;
    
}
.view-all-designs {
    font-family: "juliussansone";
    color: white;
    text-align: center;  
    font-size: 12pt;
    opacity: 0.8;
  
}
.plus-grid {
    margin-top: -195px;
    margin-left: -140px;
    opacity: 0.6;
}

.nav-bar {
    position: relative;
    top: -50pt;
    background-color: rgba(225,255,255,0.2);
    padding: 18pt;
    
}
.arrow {
    position: absolute;
    margin-top: -25px;
    margin-left: 300px;
    font-family: verdemoderna;
    text-align: center;
    color: white;
    width: 70px;
    height: 70px;
    font-size: 40px;
    opacity: 0.6;
}



-->/* MAIN BODY */-->

main {
    grid-area: m;
    margin-top: 10%;
}
.title1, .title2, .green1, .green2, .title3{
    margin-top: 10%;
    margin-bottom: 4%;
    font-family: "juliussansone";
    font-size: 1.5em;
}

.container-green{
    background-color: rgba(138,188,159,0.5);
    background-image: url("http://www.csszengarden.com/214/contours-opaque.png"), url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/bamboo.png");
    background-size: auto, auto, cover;
    background-repeat: repeat, repeat, no-repeat;
    display: grid;
    grid-column-start: 0;
    grid-column-end: 11;
    background-attachment: scroll, scroll, fixed;
    padding-left: 37px;
    padding-right: 37px;
    padding-bottom: 22px;
}
p {
    margin-bottom: 4%;
    margin-top: 0;  
}
-->/* FOOTER */-->

footer {
    grid-area: f;
}
.dark-green-container {
    background-image: url("http://www.csszengarden.com/214/contours.png"), url('"http://www.csszengarden.com/214/gridlines-opaque.png'), url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/koi.jpg");
    background-size: auto, auto, auto, cover;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-attachment: fixed, fixed, fixed, scroll;
    margin-top: 30px;
    text-align: center;
    font-size: 23px;
    margin: 0;
    width: auto;
    height: 230px;
    color: rgba(255, 255, 255, 0.4);
    line-height: 2em;
    padding: 20px;
}
.dark-green-container > font {
    opacity: 0.7;
}
.dark-green-container > i {
    font-family: librebaskerville;

}
.footer-plus-grid {
    margin-left: -140px;
    width: 20px;
    height: 20px;
}

.icons {
    display: block;
    clear: both;
    text-align: center;
    background-color: #134347;
    padding: 1.1em 10%;
    font-family: verdemoderna;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.4);
    letter-spacing: 7px;
    font-weight: lighter;
}
ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
    background-color: #f4fdf6;

}

li {
    font-family: juliussansone;
    padding: 20px;
    font-size: 1.1em;
    /* color: #c0cac3; */
}
font {
    font-family: librebaskerville;
}
span {
    font-family: librebaskerville-bold;
}
