/* FONTS AND ICONS */
@font-face {
    font-family: verdemoderna;
    src: url(verdemoderna.woff);
}
@font-face {
    font-family: juliussansone;
    src: url(https://fonts.gstatic.com/s/juliussansone/v7/1Pt2g8TAX_SGgBGUi0tGOYEga5WOwnsXy6KHHg.woff2);
}
@font-face {
    font-family:  librebaskerville;
    src: url(https://fonts.gstatic.com/s/librebaskerville/v5/kmKhZrc3Hgbbcjq75U4uslyuy4kn0qNcWxEQDO-Wyrs.woff2)
}
@font-face {
    font-family:  librebaskerville-bold;
    src: url(https://fonts.gstatic.com/s/librebaskerville/v5/kmKnZrc3Hgbbcjq75U4uslyuy4kn0qNZaxMaC82U.woff2)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-background {
    background-image: url("http://www.csszengarden.com/214/contours.png"),url("http://www.csszengarden.com/214/noise.png"), url("http://www.csszengarden.com/214/gridlines.png"), url("http://www.csszengarden.com/214/huntington.jpg");
    background-size: auto, auto, auto, cover;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-position: 0 0, 0 0, -5px -25px, 0 50%;
    border-top: 10px solid #2e484c;  
    height: 250px;
    width: 100%;
    /* position: absolute; */
}

#header {
    text-align: center;
    height: 180px;
}

#logo {
    width: 50px;
    height: 50px;
    opacity: 0.6;
}

#sub-header {
    background-color: rgba(225,255,255,0.2);
    display: grid;
    grid-template-columns: 4fr 1fr;
    font-family: "juliussansone";
    color: white;
    font-size: 16px;
    opacity: 0.9;
    height: 80px;
    width: 100%;

}
.ptag-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60px;
    opacity: 0.7;

}
#arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: verdemoderna;
    font-size: 45px;
    opacity: 0.6;
}

article {
    padding-left: 40px;
    padding-right: 35px;
    font-family: librebaskerville-bold;
    font-size: 0.85em;
    line-height: 2em;
    color: #325050;
}
#article-2 {
    background-color: rgba(138,188,159,0.5);
    background-image: url("http://www.csszengarden.com/214/contours-opaque.png"), url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/bamboo.png");
    background-size: auto, auto, cover;
    background-repeat: repeat, repeat, no-repeat;
    background-attachment: scroll, scroll, fixed;
    padding-bottom: 22px;
}

h1 {
    font-family: "juliussansone";
    color: white;
    font-size: 30px;
    font-weight: lighter;
    padding: 10px;
    
}

h3 {
    font-family: "juliussansone";
    font-size: 20px;
    padding-top: 17px;
    padding-bottom: 15px;

}
 
h4 {
    font-family: "librebaskerville";
    opacity: 0.6;
    color: white;
    font-weight: lighter;
    font-size: 12.5pt;

}

p {
    padding-bottom: 10px;
}

#footer {
    background-image: url("http://www.csszengarden.com/214/contours.png"), url('"http://www.csszengarden.com/214/gridlines-opaque.png'), url("http://www.csszengarden.com/214/gridlines-opaque.png"), url("http://www.csszengarden.com/214/koi.jpg");
    background-size: auto, auto, auto, cover;
    background-repeat: repeat, repeat, repeat, no-repeat;
    background-attachment: fixed, fixed, fixed, scroll;
    text-align: center;
    font-size: 23px;
    margin: 0;
    width: auto;
    height: 222px;
    color: rgba(255, 255, 255, 0.4);
    line-height: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 40px;
}
.footerText{
    opacity: 0.7;

}

#footer > font {
    opacity: 0.7;
}

#footer > p {
    font-family: librebaskerville;
}

#sub-footer {
    text-align: center;
    background-color: #134347;
    height: 110.19px;
    font-family: verdemoderna;
    font-size: 35px;
    color: rgba(255, 255, 255, 0.4);
    letter-spacing: 20px;
    font-weight: lighter;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: juliussansone;
    background-color: #f1f7f2;    

}

.links a {
    text-align: center;
    font-size: 1.1em;

}
#links-2 {
    padding: 10px;
    background-image: url("http://www.csszengarden.com/214/bamboo.png");
    background-color: rgba(138,188,159,0.5);

}
.column {
    display: flex;
    /* grid-template-rows: repeat(4, 1fr) */
    justify-content: center;

}
.size {
    font-family: librebaskerville;
    display: inline-block;
    font-size: 13px;
}
.span-font {
    font-family: librebaskerville-bold;
    display: inline-block;;
    font-size: 12px;
}

other {
    text-decoration: underline dotted;
}

a {
    text-decoration: none;
}







/* MEDIA QUERIES */
@media (min-width: 500px) {
    #logo {
        width: 50px;
        height: 50px;
        opacity: 0.6;
    }
}
@media (min-width: 1130px) {
    #container {
        display: grid;
        grid-template-areas:
            "hdr hdr hdr hdr hdr hdr hdr hdr shdr shdr shdr shdr"
            "a1 a1 a1 a1 a1 a1 a1 a1 l1 l1 l1 l1"
            "a2 a2 a2 a2 a2 a2 a2 a2 l2 l2 l2 l2"
            "a3 a3 a3 a3 a3 a3 a3 a3 . . . ."
            "f f f f f f f f f f f f"
            "sf sf sf sf sf sf sf sf sf sf sf sf";
        grid-template-columns: repeat(12, 1fr);
    }

    #header {
        grid-area: hdr;
        height: 250px;
    }

    #sub-header {
        grid-area: shdr;
    }

    #article-1 {
        grid-area: a1;
    }

    #article-2 {
        grid-area: a2;
    }

    #article-3 {
        grid-area: a3;
    }

    #links-1 {
        grid-area: l1;
        flex-direction: column;
    }

    #links-2 {
        grid-area: l2;
    }

    #footer {
        grid-area: f;
    }

    #sub-footer {
        grid-area: sf;
    }
}