body {
    background-color: grey;
    border: 3px dotted blue;
    padding: 50pt;
}
h1 {
    font-family: pixelemulator;
}
div {
    font-size: 10pt;
    font-family: pixelemulator;

}
#countdown {
    font-size: 20px;
}
button {
    margin-top: 20pt;
    width: 180pt;
    height: 40pt;
    border-radius: 0;
    font-family: pixelemulator;
    color: green;
    background-color: yellow

}